.messenger {
  height: 99.5vh;
  display: flex;
  padding-top: 56px;
  background-color: white;
  overflow: hidden;
}

.chatMenu {
  flex: 0;
  border-right: 1px solid lightgray;
  max-width: none;
  min-width: none;
}
.chatMenuInput {
  width: 90%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid gray;
  background-color: white;
  color: gray;
  outline: none;
}
.chatBox {
  flex: 5.5;
}
.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.chatBoxTop {
  height: 100%;
  overflow-y: auto;
  padding-right: 1em;
}
.chatOnline {
  flex: 3;
}

.chatMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper {
  padding: 10px;
  height: 100%;
}

.noConvoText {
  top: 2em;
  position: absolute;
  font-size: 1.5rem;
  color: var(--gray2);
  cursor: default;
}

.chatBoxBottom {
  display: flex;
  margin-top: 1em;
}

/* messages */
.message {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
}

.messageTop {
  display: flex;
}

.messageText {
  background-color: rgb(29, 133, 230);
  color: white;
  border-radius: 1.25em;
  padding: 0.75em 1em;
  width: fit-content;
  position: relative;
  max-width: 30rem;
  line-break: anywhere;
}

.messageBottom {
  color: gray;
  margin: 0.5em 0 0 4em;
}

.message.own {
  align-items: flex-end;
}

.message.own .messageText {
  background-color: var(--gray1);
  color: black;
}

/* chatOnline */
.chatOnlineFriend {
  display: flex;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  margin-top: 1em;
}

.chatOnlineImgContainer {
  position: relative;
}

.chatOnlineBadge {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: limegreen;
  position: absolute;
  top: 0.2em;
  right: 0.5em;
}
.messenger-mob-display-none {
  display: none !important;
}

/* Adjustments */
.chatMenuWrapper .post-avatar img {
  margin-right: 0;
}
.chatMenuWrapper .post-avatar.med-avatar img {
  width: 4em;
  height: 4em;
}

@media only screen and (min-width: 900px) {
  .chatMenu {
    max-width: 25rem;
    min-width: 25rem;
  }
  .messenger-mob-display-none {
    display: flex !important;
  }
  .chatMenuWrapper .post-avatar img {
    margin-right: 0.75em;
  }
  .chatMenuWrapper .post-avatar.med-avatar img {
    width: 3em;
    height: 3em;
  }
}
