.pre-auth-header {
  width: 100%;
  padding-top: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2em;
}

.pre-auth-header h1 {
  font-weight: 300;
}

.pre-auth-header img {
  height: 2em;
}
